@media (max-width: 480px) {
    header {
        .list-microsoft {
            display: none;

        }

    }

    .list-microsoft-mobile {
        display: block;
    }

    footer {
        flex-direction: column;
    }


    .slide {
        .carousel-inner {
            height: 530px;
        }

      

        .carousel-control-prev,
        .carousel-control-next {
            
            top: -50px;
            width: 30px;
        }

        .img-carousel {
            display: none;
        }

        .img-carousel-mobile {
            display: block;
        }

    }

    .carousel-content {
        width: 90%;
        position: static;
        margin-top: 20px;

        h2 {
            font-size: 1.5rem;
        }

    }

    .links {
        flex-wrap: wrap;
    }

    .wrapper-cards {
        flex-direction: column;
        align-items: center;

    }



    .banner {
        flex-direction: column;
        width: 100%;
        align-items: center;   
        margin: 20px 0 0 0 ;
    
        .card {
            width: 100%;
            position: static;
            padding: 5px;
        }
    }


}

@media(max-width: 990px){




.list-microsoft{
    display: none;
}
.list-microsoft-mobile{
    display: block;

}


}

@media(max-width: 1026px){

footer{
    flex-direction: column;

}

}

@media(max-width: 1275px){
    .slide{

    
        .carousel-content{
         position: sticky;
         width: 70%;
        }


    footer, ul, li{
        position: sticky;
        flex-direction: column;
        
    
    }
    
    }
}